.wordlee {
  width: 75vmin;
  height: 75vmin;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wordlee p {
  text-align: center;
}

Field {
  border-radius: 20%;
  display: block;
  border: 2vmin solid aquamarine;
  padding: 1vmin;
}
